* {
  font-family: "Work Sans", sans-serif;
}

.list {
  display: flex;
  width: 40%;
  justify-content: space-around;
  letter-spacing: 3px;
  margin: 5px;
  position: absolute;
  left: 50%;
  top: 26px;
  list-style: none;
}

.dashList {
  display: flex;
  width: 60%;
  justify-content: space-around;
  letter-spacing: 3px;
  margin: 5px;
  position: absolute;
  left: 25%;
  top: 26px;
  list-style: none;
}
